/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


 tbody#registry-products td {
    vertical-align: middle !important;
}
.buy_this {
    cursor: pointer;
}

#share-buttons img {
    width: 50px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }